.hide{
    display: none;
}

.show{
    display: flexbox;
}

.contactcontainer{
    margin-bottom: 80px;
}

.unsure {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

@media only screen and (max-width: 425px){
    .contactcontainer{
        margin-bottom: 100px;
    }
}  