.newsheading{
    text-align: center;
    padding-bottom: 40px;
}

.videostory{
    font-size: 1.3rem;
    padding-top: 40px;
    padding-left: 20px;
}

.videoplayer{
    width:400px;
    height:315px;
}

.videodiv{
    text-align: center;
}

.pumpimage{
    width: 50%;
}

.newsimage{
    text-align: center;
}

.news-row{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px 0px gray;
    margin-top: 40px;
    margin-bottom: 40px;
}


@media only screen and (max-width: 990px){
    .videostory{
        padding-top: 0px;
    }
    .videoplayer{
        margin-top: 10px;
        width:300px;
        height:215px;
    }
}

@media only screen and (max-width: 765px){
    .videoplayer{
        width:300px;
        height:215px;
    }
    .videostory{
        font-size: 1.2rem;
        padding-top: 20px;
        padding-left: 0px;
    }
    .pumpimage{
        margin-top: 50px;
        width: 80%;
    }
   
}

@media only screen and (max-width: 575px){
    .videostory{
        text-align: center;
        padding-top: 00px;
    }
    .pumpimage{
        margin-top: 40px;
        width: 50%;
    } 
    .news-row{
    padding-bottom: 30px;
    }
} 